body {
    background-color: blue;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 100px 1fr 80px;
    grid-template-areas:    'header header header' 
                            'left game-screen right'
                            'footer footer footer';
}


#header {
    grid-area: header;
    margin-left: 0;
    border: 2px solid white;
    border-bottom: 2px solid black;
    color: white;
}

#mainscreen {
    grid-area: middle;
    border: 15px solid green;
    margin: 0;
    margin-top: 25px;
}

#left {
    grid-area: left;
}

#right {
    grid-area: right;
}

#game-screen {
    grid-area: game-screen;
    border: 2px solid rgb(255, 0, 212);
    width: 100%;
    height: auto;
}

#footer {
    grid-area: footer;
}