body {
    background-color: rgb(70, 70, 237);
}


#header {
    margin-left: 0;
    border: 2px solid white;
    border-bottom: 2px solid black;
    color: white;
}

#mainscreen {
    border: 2px solid green;
    margin: 0;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-areas: 'left middle right';
    height: 600px
}

#left {
    margin: 0;
    grid-area: left;
    border: 2px solid yellow;
}

#main-content {
    margin: 0 auto;
    border: 2px solid orange;
    grid-area: middle;
    height: auto;
    width: 100%;
}

#right {
    grid-area: right;
    border: 2px solid yellow;
}

footer{
    display: flex;
    border: 2px solid white;
    justify-content: ;
    height: 100px;
}